body {
    font-family: 'Actor';
    font-size: 22px;
    background-image: url(../images/country-quilt/country-quilt.png);
}

img {
    float: left;
    width: 175px;
    height: 175px;
    margin: 5px;
}

p {
    float: left;
    margin: 0 auto;
}

#gifArea {
    margin-top: 20px;
}

.animalButton {
    margin: 15px;
}

.container {
    background-image: url(../images/country-quilt/country-quilt.png);
}

#submit {
    color: black;
    background-color: darkgray;
}